name: CD

on:
    release:
        types:
            - published

jobs:
    push_image_to_docker_hub:
        name: Push Docker image to Docker Hub
        runs-on: ubuntu-latest
        steps:
            -
                name: Checkout the repo
                uses: actions/checkout@v2.4.0
            -
                name: Docker meta
                id: docker_meta
                uses: docker/metadata-action@v3.6.2
                with:
                images: tanguychiffoleau/le-bot-en-js
                tags: |
                    type=semver,pattern={{version}}
            -
                name: Login to DockerHub
                uses: docker/login-action@v1.12.0
                with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            -
                name: Build and push
                uses: docker/build-push-action@v2.7.0
                with:
                file: ./docker/Dockerfile
                context: .
                push: true
                tags: ${{ steps.docker_meta.outputs.tags }}
                labels: ${{ steps.docker_meta.outputs.labels }}

    execute_commands_via_ssh:
        name: Pulls latest docker image and start up the application with Docker Compose
        runs-on: ubuntu-latest
        needs: push_image_to_docker_hub
        steps:
            - name: Executing remote ssh commands
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  password: ${{ secrets.SSH_PASSWORD }}
                  script: |
                      docker pull tanguychiffoleau/le-bot-en-js:latest
                      docker-compose --file ./le-bot-en-js/docker/docker-compose.yml --project-name le-bot-en-js up --detach
