name: CI

on:
    pull_request:
        paths:
            - '**/*.js'

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2.3.5
            - name: Uses Node.js 14.17.0
              uses: actions/setup-node@v2.4.1
              with:
                  node-version: 14.17.0
            - run: npm ci
            - run: npm test
